# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Project specific
.pyre_configuration
pyrightconfig.json
setup.py
bank_data.json
